* {
    font-family: 'Montserrat', sans-serif;
}

#qu-wrapper {
    background-color: #fff;
    padding: 50px;
    max-width: 100%;
    margin: 0 auto;
    border-radius: 30px;
    box-shadow: 0px 0px 20px -10px rgba(0,0,0,0.1);
}

#wrapper {
    max-width: 960px;
    margin: 0 auto;
}

body {
    background-color: #f4f4f4;
}

.table {
    td {
        border-width: 0px!important;
        border-color: transparent!important;
        vertical-align: middle!important;
        height: 80px;
    }

    th {
        border-width: 0px!important;
        border-color: transparent!important;
        vertical-align: middle!important;

    }

    tr {
        font-size: 16px;

        .people {

            .span {
                padding: 8px;
                background-color: #fff;
                border: 4px solid #6273ff;
                border-radius: 11px;
                color: #6273ff;
                text-align: center;
            }

        }

        .name {
            font-weight: bold;
            color: #6273ff;
        }

        .actions {
            padding-right: 0px;
            a {
                padding: 16px;
                color: #fff;
                border-radius: 8px;
                text-transform: uppercase;
                font-size: 14px;
                font-weight: bold;
                box-shadow: 0px 0px 8px -3px rgba(0,0,0,0.4);
                
                &.accept {
                    background-color: #34df5f;
                    
                    &:hover {
                        text-decoration: none;
                        background-color: #2cc452;
                    }
                }
                
                &.message {
                    background-color: #6273ff;

                    &:hover {
                        text-decoration: none;
                        background-color: #4e5cdb;
                    }
                }

            }
        }
    }
}

.logo {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.qu-item {
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding: 20px;
    border-radius: 20px;
    transition: all 50ms;

    &:hover {
        //background-color: #f3ebff;
        color: #000;
        cursor: pointer;
      

    }



}

.qu-item > div {
    text-align: left;
    
}

.table-header {
    width: 100%;
    display: flex;
    justify-content: start;
    padding: 20px;

    div {
        text-align: left;
    }
   

}

.table {
    tr:first-child th:first-child { border-top-left-radius: 10px; }
    tr:first-child th:last-child { border-top-right-radius: 10px; }
    tr:last-child th:first-child { border-bottom-left-radius: 10px; }
    tr:last-child th:last-child { border-bottom-right-radius: 10px; }

    th {
        background-color: #6273ff;
        color: #fff;
    }
}