* {
  font-family: 'Montserrat', sans-serif;
}

#qu-wrapper {
  background-color: #fff;
  padding: 50px;
  max-width: 100%;
  margin: 0 auto;
  border-radius: 30px;
  -webkit-box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.1);
}

#wrapper {
  max-width: 960px;
  margin: 0 auto;
}

body {
  background-color: #f4f4f4;
}

.table td {
  border-width: 0px !important;
  border-color: transparent !important;
  vertical-align: middle !important;
  height: 80px;
}

.table th {
  border-width: 0px !important;
  border-color: transparent !important;
  vertical-align: middle !important;
}

.table tr {
  font-size: 16px;
}

.table tr .people .span {
  padding: 8px;
  background-color: #fff;
  border: 4px solid #6273ff;
  border-radius: 11px;
  color: #6273ff;
  text-align: center;
}

.table tr .name {
  font-weight: bold;
  color: #6273ff;
}

.table tr .actions {
  padding-right: 0px;
}

.table tr .actions a {
  padding: 16px;
  color: #fff;
  border-radius: 8px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  -webkit-box-shadow: 0px 0px 8px -3px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 8px -3px rgba(0, 0, 0, 0.4);
}

.table tr .actions a.accept {
  background-color: #34df5f;
}

.table tr .actions a.accept:hover {
  text-decoration: none;
  background-color: #2cc452;
}

.table tr .actions a.message {
  background-color: #6273ff;
}

.table tr .actions a.message:hover {
  text-decoration: none;
  background-color: #4e5cdb;
}

.logo {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.qu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding: 20px;
  border-radius: 20px;
  -webkit-transition: all 50ms;
  transition: all 50ms;
}

.qu-item:hover {
  color: #000;
  cursor: pointer;
}

.qu-item > div {
  text-align: left;
}

.table-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding: 20px;
}

.table-header div {
  text-align: left;
}

.table tr:first-child th:first-child {
  border-top-left-radius: 10px;
}

.table tr:first-child th:last-child {
  border-top-right-radius: 10px;
}

.table tr:last-child th:first-child {
  border-bottom-left-radius: 10px;
}

.table tr:last-child th:last-child {
  border-bottom-right-radius: 10px;
}

.table th {
  background-color: #6273ff;
  color: #fff;
}
/*# sourceMappingURL=style.css.map */